* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Ubuntu-Regular;
}

body {
  background-color: #80d168;
  color: #999;
  text-transform: capitalize;
}

#signupContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 420px;
  height: 400px;
  background-color: white;
}
#signupForm {
  width: 310px;
  margin: auto;
  padding-top: 35px;
}
#signupForm input {
  padding: 10px;
  margin-bottom: 30px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #999;
  outline: none;
  text-transform: capitalize;
}
#signupForm input[type="submit"] {
  border-bottom: none;
  cursor: pointer;
  background-color: #6fb554;
  color: white;
  font-size: 17px;
}
#signupForm div {
  position: relative;
}
#signupForm div label {
  position: absolute;
  top: 10px;
  left: 0px;
  pointer-events: none;
  transition: 0.5s;
}
#signupForm input:focus ~ label,
#signupForm input:valid ~ label {
  top: -13px;
  color: #6fb554;
  font-size: 14.5px;
  font-weight: bold;
}
#signupForm div input:focus,
#signupForm div input:valid {
  border-bottom: 3px solid #6fb554;
}
