

*{
 box-sizing: border-box;
 margin:0;
 padding: 0;
 font-family: Ubuntu-Regular;

}

#containerLogin{
    margin:-11em auto;
    width:19em;
    height:19em;
    border:1px solid #fff;
    border-radius:  0 50px  ;
     box-shadow: -5px -5px 8px #a6a9b6 , 5px 5px 8px #a6a9b6;

}
#formLogin{
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
   align-content: center;
   
}

h3#title{
    height: 3em;
    color:#fff;
    text-align: center;
    background-color: #6fb554;
    padding: 1em;
    border-top:1px solid #6fb554;
    border-top-right-radius: 50px;
   
}
.inputLogin {
    outline: none;
    border:none;
    background:0 0 ;
    font-size: 1.2rem;
    color:#555;
    padding:5px;
   border-bottom: 2px solid #a6a9b6;
   line-height: 2;
    
}

#submitLogin{
   margin-top :40px;
   font-size: 1.4rem;
    padding: 6px;
    width: 100px;
    outline: 0;
    border: 1px solid  #6fb554;;
    border-radius: 10px;
    background-color: #6fb554;
    color:#fff;

}
.fa-user ,.fa-lock {
    color:#6fb554;
    align-self: center;
    font-size: 1.2rem;
}
